@import "tailwindcss";

:root {
  --foreground: #171717;
  box-sizing: border-box;
  margin: 0 auto;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

html,
body {
  /* background: var(--background); */
  /* background: url('/bg.svg') no-repeat center center / cover; */
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.border-gradient-line {
  border: 1px solid;
  border-image: linear-gradient(to bottom,
      #06060680 0%,
      #00000080 51%,
      #FFFFFF80 100%);
}

.liquid-fix>div:last-child {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.liquid-col-fix>div:last-child {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 69px;
}

.liquid-justify-between>div:last-child {
  justify-content: space-between;
}