extends layout

block content
  h1= "Soundy"
  p Welcome to soundy ItStep Kolledge projects back
  p Над проектом работали:
  p Парадовський Олександр Олександрович
  p Борвенок Олег Олексiйович
  p Бiлоусов Микита Петрович
  p Дишкант Максим Володимирович
